body {
  color: rgba(0, 0, 0, 0.89);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

main {
  margin: 100px 0;
}

header {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
  margin-bottom: 50px;
}

.element {
  padding: 20px;
  background: #fafafa;
  max-width: 50%;
  word-break: break-all;
}

.element h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.89);
}

.element > div {
  color: rgba(0, 0, 0, 0.6);
  font-family: Consolas, 'Courier New', monospace;
}
